<a href="https://colab.research.google.com/github/RiddhiTripathi/PySpark/blob/pyspark_basic/PySpark_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=bf3b28eb64f7fb847276f5f3e950eec9b7e51035b3656cb0073ae1f158cbcfc7
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("PySparkExample").getOrCreate()

In [4]:
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]

In [5]:
df = spark.createDataFrame(data, ["Name", "Age"])

In [6]:
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

# Data Manipulation with PySpark

##### Selecting Columns

In [7]:
df.select("Name","Age").show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

##### Adding Columns

In [14]:
df_with_gender = df.withColumn("Gender", lit("Female"))
df_with_gender.show()

+-------+---+------+
|   Name|Age|Gender|
+-------+---+------+
|  Alice| 25|Female|
|    Bob| 30|Female|
|Charlie| 35|Female|
+-------+---+------+

##### Filtering Rows

In [15]:
df_filtered = df.filter(df["Age"] > 30)
df_filtered.show()

+-------+---+
|   Name|Age|
+-------+---+
|Charlie| 35|
+-------+---+

##### Sorting Data

In [16]:
df_sorted = df.orderBy(df["Age"])
df_sorted.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

##### Grouping and Aggregating Data

In [18]:
df_grouped = df_with_gender.groupBy("Gender").agg({"Age": "avg"})
df_grouped.show()

+------+--------+
|Gender|avg(Age)|
+------+--------+
|Female|    30.0|
+------+--------+